body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #121212;
    color: #e0e0e0;
}

.chat-container {
    background-color: #000000;
    width: 400px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    height: 70vh;
}

.chat-header {
    background-color: #333;
    padding: 10px 20px;
    border-radius: 8px 8px 0 0;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    color: white;
}

.chat-body {
    flex: 1;
    padding: 10px 20px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    scroll-behavior: smooth;
}

.chat-footer {
    display: flex;
    padding: 10px 20px;
    border-radius: 0 0 8px 8px;
    background-color: #333;
    justify-content: space-between;
    align-items: center;
}

#messageInput {
    width: 80%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #555;
    background-color: #333;
    color: #ffffff;
}

button {
    width: 15%;
    padding: 10px;
    margin-left: 10px;
    background-color: #0de014;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #45a049;
}

.message {
    max-width: 80%;
    padding: 10px 15px;
    border-radius: 10px;
    display: inline-block;
    word-wrap: break-word;
    background-color: #0de014;
    color: #000000;
    position: relative;
    font-weight: bold;
}

.message.left {
    background-color: #555;
    align-self: flex-start;
    border-bottom-left-radius: 0;
}

.message.right {
    background-color: #4CAF50;
    align-self: flex-end;
    border-bottom-right-radius: 0;
}

#messages .message::after {
    content: '';
    position: absolute;
    bottom: -10px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

.message.left::after {
    left: 10px;
    border-top: 10px solid #555;
}

.message.right::after {
    right: 10px;
    border-top: 10px solid #4CAF50;
}

.chat-body::-webkit-scrollbar {
    width: 8px;
}

.chat-body::-webkit-scrollbar-thumb {
    background-color: #666;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.chat-body::-webkit-scrollbar-thumb:hover {
    background-color: #444;
}

.chat-body::-webkit-scrollbar-track {
    background-color: #2a2a2a;
    border-radius: 10px;
}